<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180864357521-re80lgsb8hkc3jklr2bhfsepfnhnh43d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180864357521-re80lgsb8hkc3jklr2bhfsepfnhnh43d</string>
	<key>API_KEY</key>
	<string>AIzaSyB95On3RYXfPq0u1LqItjaVa88177s72r4</string>
	<key>GCM_SENDER_ID</key>
	<string>180864357521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mycampus</string>
	<key>PROJECT_ID</key>
	<string>itc300mycampus</string>
	<key>STORAGE_BUCKET</key>
	<string>itc300mycampus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180864357521:ios:396473e912a6378dc51b30</string>
</dict>
</plist>